<ion-header>
  <custom-header [header]="header_data"></custom-header>
</ion-header>

<ion-content>
<!--<div *ngIf="comments && comments.length > 0">
        <ion-label>{{'Comments' | translate}}</ion-label>
        <ion-list>
            <ion-item *ngFor="let comment of comments">
              <div class="comment-rating">
                <rating name="rating" id="rating"
                [(ngModel)]="comment.grade" readOnly="true"
                max="5"
                emptyStarIconName="star-outline"
                halfStarIconName="star-half"
                starIconName="star"
                nullable="false"
                ></rating>
              </div>
              <button ion-button>Utile</button>
              <div class="comment">
                <div class="comment-info">
                    <p class="comment-name">{{'Par' | translate}}: {{comment.customer_name}}</p>
                    <p class="comment-date">{{comment.date_add | date:'dd-MM-yyyy'}}</p>
                </div>
                <div class="comment-content">
                    <p class="comment-title">{{comment.title}}</p>
                    <p class="comment-message">{{comment.content}}</p>
                </div>
              </div>
            </ion-item>
        </ion-list>
</div>-->
<div *ngIf="comments && comments.length >0">
  <ion-list>
    <ion-item *ngFor="let comment of comments">
      <ion-row>
        <ion-col col-4>
          <div class="comment-rating">
            <rating name="rating" id="rating"
            [(ngModel)]="comment.grade" readOnly="true"
            max="5"
            emptyStarIconName="star-outline"
            halfStarIconName="star-half"
            starIconName="star"
            nullable="false"
            ></rating>
          </div>
        </ion-col>
        <ion-col col-4 *ngIf="comment && (!comment.no_vote || !comment.no_vote == true)">
          <button *ngIf="user && user.token && !comment.already_voted" class="comment-button" ion-button (click)="usefullComment(comment)">{{'Usefull' | translate}}</button>
        </ion-col>
        <ion-col col-4 *ngIf="comment && (!comment.no_vote || !comment.no_vote == true)">
          <button *ngIf="user && user.token && !comment.already_voted" class="comment-button" ion-button (click)="uselessComment(comment)">{{'Useless' | translate}}</button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="comment.total_advice > 0">
        <p class="comment-advice">{{comment.total_useful}} personne(s) sur {{comment.total_advice}} trouve ce commentaire utile!</p>
      </ion-row>
      <ion-row>
        <ion-col col-12 *ngIf="comment && (!comment.no_report || !comment.no_report == true)">
          <a *ngIf="user && user.token && !comment.already_reported" (click)="reportComment(comment)">{{'Report this comment' | translate}}</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          <p class="comment-info">{{comment.customer_name}}</p>
          <p class="comment-info">{{comment.date_add | date: 'dd-MM-yyyy'}}</p>
        </ion-col>
        <ion-col col-8>
          <p class="comment-title">{{comment.title}}</p>
          <p class="comment-content">{{comment.content}}</p>
        </ion-col>
        <!--<ion-row>
          <ion-col col-4>
            <p class="comment-info">{{'Par' | translate}}: {{comment.customer_name}}</p>
          </ion-col>
          <ion-col col-8>
            <p class="comment-content">{{comment.title}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <p class="comment-info">{{comment.date_add | date:'dd-MM-yyyy'}}</p>
          </ion-col>
          <ion-col col-8>
            <p class="comment-content">{{comment.content}}</p>

          </ion-col>
        </ion-row>-->
      </ion-row>
    </ion-item>
  </ion-list>
</div>
<div *ngIf="comments.length ==0">
  <p>{{'Be the first to leave out a comment' | translate}}</p>
</div>
<button *ngIf="user && user.token" class="feedback" ion-button (click)="show()">{{'Give your feedback' | translate}}</button>
  <form *ngIf="displayForm" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="product-rating">
      <rating name="rating" id="rating" [(ngModel)]="review.rating"
              readOnly="false"
              max="5"
              emptyStarIconName="star-outline"
              halfStarIconName="star-half"
              starIconName="star"
              nullable="false">
      </rating>
    </div>

    <!--<ion-row>
      <ion-col col-12>
        <ion-label for="title">{{'Title' | translate}}</ion-label>
        <ion-input class="title-input" type="text" name="title" id="title" [(ngModel)]="review.title" required></ion-input>
        <ion-label for="message">{{'Comment' | translate}}</ion-label>
        <ion-textarea rows="3" name="message" id="message" [(ngModel)]="review.comment" required></ion-textarea>
      </ion-col>
    </ion-row>-->
    <!--A tester pour voir si cela corrige le bug du clavier-->
    <ion-item>
        <ion-label for="title" stacked>{{'Title' | translate}}</ion-label>
        <ion-input class="title-input" type="text" name="title" id="title" [(ngModel)]="review.title" required></ion-input>
    </ion-item>
    <ion-item>
        <ion-label for="message" stacked>{{'Comment' | translate}}</ion-label>
        <ion-textarea rows="3" name="message" id="message" [(ngModel)]="review.comment" required></ion-textarea>
    </ion-item>
    <ion-row>
      <ion-col col-12>
        <button class="submit-btn" ion-button block type='submit' [disabled]="!f.valid"> {{"Submit" | translate}}</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
