<ion-header>
	<custom-header [header]="header_data"></custom-header>
</ion-header>


<ion-content>
	<ion-list *ngIf="reductions && reductions.length != 0 && !showInfo">
		<ion-row>
			<ion-col col-4><ion-label class="tab-header">Code</ion-label></ion-col>
			<ion-col col-4><ion-label class="tab-header">Name</ion-label></ion-col>
			<ion-col col-4><ion-label class="tab-header"></ion-label></ion-col>
		</ion-row>
		<ion-row *ngFor="let reduc of reductions">
			<ion-col col-4><ion-label class="reduction-item">{{reduc.code}}</ion-label></ion-col>
				<ion-col col-4>
					<ion-label class="reduction-item">{{reduc.name}}</ion-label>
				</ion-col>
				<ion-col col-4>
				 	<button ion-button class="btn" (click)="showInfos(reduc)">Visualiser</button>
			</ion-col>
		</ion-row>
	</ion-list>

	<div *ngIf="showInfo">
		<p>{{'Informations about the coupon' | translate}} {{selectedReduction.code}}</p>
		<p>{{'The value of this coupon is' | translate}} {{selectedReduction.value}} {{currency}}</p>
		<p>{{'The coupon is usable' | translate}} {{selectedReduction.quantity}} {{'time(s) when the amount is greater than' | translate}} {{selectedReduction.minimum_amount | currencyPipe:constService.currency}}</p>
		<p>{{'The expiracy date of this coupon is' | translate}} : {{selectedReduction.date_to}}</p>
	</div>

	<div *ngIf="reductions && reductions.length == 0 && !showInfo" class="not-found">
		<!--<ion-row>
			<ion-col col-12>
				{{'No valid reduction coupons was found' | translate}}
			</ion-col>
		</ion-row>-->
				<p class="not-found-text">{{'No valid reduction coupons was found' | translate}}</p>

	</div>
</ion-content>
