<!--
  Generated template for the RecapPaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Recap-payment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div *ngIf="isCheque()">
		<p>Votre commande a bien été prise en compte. Vous trouverez ci-dessous les instructions concernant le règlement par chèque</p>
		<!-- Compléter les différents champs en fonction des données récupérées -->
		<ul>
			<li> Montant du règlement : {{totalPaid | number:'.2-2'}}</li>
			<li> Payable à l'ordre de {{paymentDetails.details.owner_name}}</li>
			<li> Envoyer à {{paymentDetails.details.address}}</li>
			<li> N'oubliez pas d'indiquer la référence de la commande {{paymentDetails.details.order_reference}}</li>
			<li> <strong>Votre commande vous sera envoyée dès réception du paiement</strong></li>
			<li> Pour toute question ou information complémentaire merci de contacter notre support client</li>
		</ul>
	</div>

	<div *ngIf="isBankWire()">
		<p>Votre commande a bien été prise en compte. Vous trouverez ci-dessous les instructions concernant le règlement par virement bancaire</p>
		<!-- Compléter les différents champs en fonction des données récupérées -->
		<ul>
			<li> Montant du règlement : {{totalPaid | number:'.2-2'}}</li>
			<li> Payable à l'ordre de {{paymentDetails.details.owner_name}}</li>
			<li> Suivant ces détails {{paymentDetails.details.details}}</li>
			<li> Envoyer à {{paymentDetails.details.address}}</li>
			<li> N'oubliez pas d'indiquer la référence de la commande {{paymentDetails.details.order_reference}}</li>
			<li> <strong>Votre commande vous sera envoyée dès réception du paiement</strong></li>
			<li> Pour toute question ou information complémentaire merci de contacter notre support client</li>
		</ul>
	</div>
</ion-content>
