<ion-header>
    <custom-header [header]="header_data"></custom-header>
    <custom-order-header [headerDATA]="order_header_data" *ngIf="!manageAddress"></custom-order-header>
</ion-header>

<ion-content padding class="address-list">

 <!--New  Address-->
<div>
     <div>
  <ion-item class="add" (click)="addAddress()" >{{"Add New Address" | translate}}
         <ion-icon name="add" ></ion-icon>
  </ion-item>
  </div>
 <!--saved address list-->
<!--<ion-list radio-group class="address-radio">
  <ion-item-sliding *ngFor="let address of addressList">
    <ion-item>  
      <ion-label>
        <p class="show-address">{{address.address.firstname}} {{address.address.lastname}}</p>
        <p class="show-address">{{address.address.address1}}</p>
        <p class="show-address">{{address.address.city}}</p>
        <p class="show-address">{{address.address.postcode}}</p>   
      </ion-label> 
      <ion-radio item-left (ionSelect)="selectAddress(address)"></ion-radio>
    </ion-item>
    <ion-item-options>
      <button ion-button class="continue-btn" (click)="modifyAddress(address.address)"><ion-icon name="create"></ion-icon>{{'Modify' | translate}}</button>
      <button ion-button class="delete-btn" (click)="deleteAddress(address.address.id)"><ion-icon name="trash"></ion-icon>{{'Delete' | translate}}</button>
    </ion-item-options>
  </ion-item-sliding>  
 </ion-list>-->

 <ion-list radio-group class="address-radio">
    <ion-row *ngFor="let address of addressList">
      <ion-col col-10>
        <ion-item>  
          <ion-label>
            <p class="alias-address">{{address.address.alias}}</p>
            <p class="show-address">{{address.address.firstname}} {{address.address.lastname}}</p>
            <p class="show-address">{{address.address.address1}}</p>
            <p class="show-address">{{address.address.city}}</p>
            <p class="show-address">{{address.address.postcode}}</p>   
          </ion-label> 
          <ion-radio item-left (ionSelect)="selectAddress(address)"></ion-radio>
        </ion-item>
      </ion-col>
      <!--<ion-col col-2 class="button-parameters-col">
        <button class="button-parameters" ion-button icon-only><ion-icon name="add"></ion-icon></button>
      </ion-col>-->
    </ion-row>
    <ion-row>
      <ion-col class="button-parameters-col" col-6>
        <button class="button-parameters" ion-button (click)="modify()">{{'Modify' | translate}}</button>
      </ion-col>
      <ion-col class="button-parameters-col" col-6>
        <button class="delete-button" ion-button (click)="delete()">{{'Delete' | translate}}</button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!manageAddress">
      <ion-col col-12>
        <button ion-button block class="continue-btn"  (click)="checkOut()"> {{"Continue" | translate}} &nbsp;
          <ion-icon name="arrow-forward"></ion-icon>
        </button> 
      </ion-col>
    </ion-row>
 </ion-list>
  </div>
</ion-content>