
<ion-header>
    <custom-header [header]="header_data"></custom-header>
</ion-header>
<ion-content>
      <ion-list *ngFor="let menuItem of items">
        <ion-item text-wrap (click)="navigate(menuItem.id,menuItem)">
          <ion-row class="catagory">
            <ion-col col-6>
              <img src={{menuItem.image}} alt="{{menuItem.name}}"/>
            </ion-col>
            <ion-col col-6>
              <p class="item-name">{{menuItem.name}}</p>
              <p class="item-detail" text-wrap><span class="trim-info">{{menuItem.name}}</span></p>
              <p class="item-detail">{{"Price:" | translate}}
                <span class="item-reduction" *ngIf="priceIsReduced(menuItem)">{{menuItem.prices.normal_price | currencyPipe:constService.currency}}</span>
                <span class="item-price">{{menuItem.prices.specific_price | currencyPipe:constService.currency}}</span>
          </p>
          <ion-row *ngIf="menuItem.avg_grade">
            <div class="product-rating">
              <rating name="rating" id="rating" [(ngModel)]="menuItem.avg_grade"
                readOnly="true"
                max="5"
                emptyStarIconName="star-outline"
                halfStarIconName="star-half"
                starIconName="star"
                nullable="false">
              </rating>
            </div>
              <ion-badge class="badge-rating" item-end>({{menuItem.nb_comment}})</ion-badge>
          </ion-row>
            </ion-col>
          </ion-row>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="infinite($event)" threshold="5%" *ngIf="maxItem > items.length">
      <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>

