<ion-header>
    <custom-header [header]="header_data"></custom-header>
</ion-header>

<ion-content [ngClass]="{bg:!isCart()}">
    <div *ngIf="!isCart()">
        <ion-row>
            <ion-icon class="empty-cart" name="cart"></ion-icon>
        </ion-row>
        <h4>{{'Your Cart is empty' | translate}}!</h4>
        <button ion-button class="empty-btn" (click)="gotoHome()">{{'Add Items' | translate}}</button>
    </div>

    <div *ngIf="isCart()">
        <ion-list class="cart-list" *ngFor="let cartItem of cartItems">
            <ion-item class="cart-item" *ngFor="let item of cartItem.declinaison">
                <ion-row>
                    <ion-col col-6>
                        <img src={{item.imageUrl}} alt={{item.name}}>
                    </ion-col>
                    <ion-col col-6>
                        <p class="item-name" text-wrap  >{{cartItem.name}}</p>
                        <p class="item-declinaison" text-wrap  >{{item.name}}</p>
                        <p class="item-detail" text-wrap>{{"Quantity:" | translate}} {{item.selectedQuantity}}</p>
                        <p class="item-detail">{{"Price:" | translate}}
                            <span class="item-price">{{item.endPrice | currencyPipe:constService.currency}}</span>
                        </p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6>
                        <button class="delete-button" ion-button (click)="deleteItem(item)">{{'Delete' | translate}}</button>
                    </ion-col>
                    <ion-col col-6>
                        <div class="count">
                            <span class="item-count" (click)="remove(item)"> - </span>
                            <span class="item-count show-count">{{item.selectedQuantity}}</span>
                            <span class="item-count" (click)="add(item, cartItem)"> + </span>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-list>

        
        <ion-row class="price-details">
            <ion-col col-12 class="calculate">
                <p class="bill-detail">{{'Price Subtotal' | translate}} <span> {{subTotalPrice | currencyPipe:constService.currency}}</span></p>
                <div *ngIf="deductedPrice">
                    <p class="bill-detail">{{'Deducted Price' | translate}} <span> - {{deductedPrice | currencyPipe:constService.currency}}</span></p>
                </div>
                <p class="bill-detail">{{"Total VAT" | translate}}(20%) <span> {{taxAmount | currencyPipe:constService.currency}}</span></p>
                <hr>
            </ion-col>
        </ion-row>
        <!--L'input est en dehors de toute balise <ion-row> et <ion-col> pour éviter le bug du clavier qui recouvre le champ de saisie-->
        <div *ngIf="user">
            <ion-item>
                <ion-input type="text" [(ngModel)]="reductionInput" placeholder="{{'Enter your reduction code' | translate}}"></ion-input>
                <button ion-button item-right class="reduction-btn" (click)="checkReduction()">{{'Submit' | translate}}</button>
                <!--Mieux avec ce changement, le bug apprait un coup de temps en temps-->
                <!--Voir comment mieux placer le bouton sans utiliser de col-->
            </ion-item>
            <div *ngIf="cartReductions && cartReductions.length">
                <p *ngFor="let reduc of cartReductions" class="reduction-applied">{{'A voucher of' | translate}}  
                    <span *ngIf="reduc.reduction_percent != 0">{{reduc.reduction_percent}} %</span>
                    <span *ngIf="reduc.reduction_amount != 0">{{reduc.reduction_amount | currencyPipe:constService.currency}}</span>
                    {{'has been applied for this cart' | translate}}
                </p>
            </div>
        </div>

        <ion-row>
            <ion-col col-12>
                <p class="cart-total"><strong>{{'Order Total' | translate}} </strong>
                    <!--<span class="price">{{grandTotal | number:'.2-2'}} €</span>-->
                    <span class="price">{{grandTotal | currencyPipe:constService.currency}}</span>
                </p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <button ion-button block class="continue-btn" (click)="checkout()">{{'Pass order' | translate}} &nbsp; &nbsp;
                    <ion-icon name="arrow-forward"></ion-icon></button>                
            </ion-col>
        </ion-row>
    </div>
</ion-content>
