page-order-status {
  .top {
    background-color: #E6E6FA;
    height: 100px;
    width: 100%;
    p {
      text-align: center;
      font-size: 30px;
      color: #666;
    }
  }

  .order-state{
    color: $primary;
  }

  p {
    text-align: center;
    white-space: pre-wrap;
  }
}
