<ion-header>
    <ion-navbar>
        <ion-title>{{"Order Status" | translate}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-row>
        <div class="top">
            <p>{{"Your Order Status" | translate}}</p>
        </div>
    </ion-row>

    <ion-list class="status-block">
        <ion-item *ngFor="let notification of status.userNotification; let i=index ">
            <ion-row>
            <ion-col col-1 
              *ngIf="notification.status=='Your order is cancelled,sorry for inconvenience.';else checked">
            <ion-icon class="cancelled" name="close-circle"></ion-icon>
            </ion-col>
            <ng-template #checked>
            <ion-col col-1>
                <ion-icon class="checked" name="checkmark-circle"></ion-icon>
            </ion-col>
            </ng-template>
                <ion-col col-11>
                    <p class="time">
                        <ion-icon name="time"></ion-icon>
                        {{notification.time| date}}
                    </p>
                    <p> {{notification.status}}</p>

                    <div *ngIf="i<=0">
                        <p>Shipping Address:- {{status.shippingAddress.userName}}</p>
                        <p>{{status.shippingAddress.contactNumber}}<br>{{status.shippingAddress.apartmentName}},{{status.shippingAddress.city}},{{status.shippingAddress.pincode}}
                        </p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-item>
        <!-- <ion-item>
         <ion-row>
          <ion-col col-1>
            <ion-icon class="checked" name="checkmark-circle"></ion-icon>
          </ion-col>
          <ion-col col-11>
            <p class="time"><ion-icon name="time"></ion-icon>  10:12 am</p>
           <p> Order is in process. </p>
          </ion-col>
          </ion-row>
        </ion-item>
        <ion-item>
         <ion-row>
          <ion-col col-1>
            <ion-icon class="checked" name="checkmark-circle"></ion-icon>
          </ion-col>
          <ion-col col-11>
            <p class="time"><ion-icon name="time"></ion-icon>  10:12 am</p>
           <p>Item has been packed.Will be out for delivery shortly. </p>
          </ion-col>
          </ion-row>
        </ion-item>
        <ion-item>
         <ion-row>
          <ion-col col-1>
            <ion-icon class="checked" name="checkmark-circle"></ion-icon>
          </ion-col>
          <ion-col col-11>
            <p class="time"><ion-icon name="time"></ion-icon>  10:12 am</p>
           <p>Out for delivery.Will reach you in 20 min. </p>
          </ion-col>
          </ion-row>
        </ion-item>
        <ion-item>
         <ion-row>
          <ion-col col-1>
            <ion-icon class="checked" name="checkmark-circle"></ion-icon>
          </ion-col>
          <ion-col col-11>
            <p class="time"><ion-icon name="time"></ion-icon>  10:12 am</p>
           <p>Item Delivered. </p>
          </ion-col>
          </ion-row>
        </ion-item> -->
    </ion-list>
    <!--  <p class="thanx"><ion-icon name="thumbs-up"></ion-icon> Thanx for shopping with us.</p> -->
</ion-content>
