<ion-header>
    <custom-header [header]="header_data"></custom-header>
</ion-header>

<ion-content>
    <ion-row>
        <div class="top">
            <p>{{"Your Order Status" | translate}}</p>
        </div>
    </ion-row>

    <ion-list class="status-block">
      <ion-item *ngIf="currentStateDetails && currentStateDetails.order_state">

        <p *ngIf="orderIsPaid()">{{'This order has been paid' | translate}}</p>
        <p *ngIf="!orderIsPaid()">{{'We are currently waiting the payment' | translate}}</p>
        <br>
        <p *ngIf="orderWillBeSoonDelivered()">{{'Your order is shipped or will be shipped soon' | translate}}</p>
        <br>
        <p class="order-state">{{'Your currently state order is' | translate}}: <strong>{{currentStateDetails.order_state.name[0].value}}</strong></p>
      </ion-item>
    </ion-list>
</ion-content>
