    <ion-header>
    <ion-navbar hideBackButton="true">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title></ion-title>
    </ion-navbar>

</ion-header>

<ion-content class="login" *ngIf="!isLogin()">
    <img class="logo" src="assets/img/logo-icon.png">
    <ion-row class="gender">
        <ion-col col-5>
            <ion-label class="text-gender">{{'Gender' | translate}}:</ion-label>
        </ion-col>
        <ion-col col-2>
            <ion-label>{{'Mr' | translate}}</ion-label>
        </ion-col>
            <ion-toggle class="toggle" [formControl]="user.controls['gender']"></ion-toggle>
        <ion-col col-2>
            <ion-label>{{'Ms' | translate}}</ion-label>
        </ion-col>
    </ion-row>


    <form [formGroup]="user" (ngSubmit)="onRegister()">
        <ion-row>
            <ion-col col-12>
                <ion-item>
                    <ion-label>{{"First name" | translate}}:</ion-label>
                    <ion-input type="text" formControlName="firstName"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-item>
                    <ion-label>{{"Last name" | translate}}:</ion-label>
                    <ion-input type="text" formControlName="lastName"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-item>
                    <ion-label>{{"Email:" | translate}}</ion-label>
                    <ion-input type="email" formControlName="email"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-item>
                    <ion-label>{{"Password:" | translate}}</ion-label>
                    <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-item>
                    <ion-label>{{"Password confirmation" | translate}}:</ion-label>
                    <ion-input type="password" formControlName="passwordConfirmation"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <div class="invalid-feedback" *ngIf="user.errors?.mismatch && (user.controls['passwordConfirmation'].dirty || user.controls['passwordConfirmation'].touched)">
            {{"Passwords don't match." | translate}}
        </div>

        <ion-row>
            <ion-col col-12>
                <ion-item>
                    <ion-label class="text-without-input">{{'NewsLetter' | translate}}: </ion-label>
                    <ion-toggle formControlName="newsletter"></ion-toggle>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
                <ion-item>
                    <ion-label class="text-without-input">{{'Receive specials offers' | translate}}: </ion-label>
                    <ion-toggle formControlName="optin"></ion-toggle>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <button class="login-btn" ion-button type="submit" [disabled]="!user.valid">{{"Register" |
                    translate}}</button>
            </ion-col>
        </ion-row>
    </form>

    <!--login with-->
    <ion-row>
        <ion-col col-12>
            <p text-center>{{"REGISTER WITH" | translate}}</p>
        </ion-col>
    </ion-row>

    <!--Social login-->
    <ion-row>
        <ion-col col-12 text-center>
     <span (click) ="doFbLogin()">
       <img class="social-icon" src="assets/img/fb.png">
     </span>
            <span (click) ="googleLogin()">
       <img class="social-icon" src="assets/img/g+.png">
     </span>
            <span (click) ="twitterLogin()">
       <img class="social-icon" src="assets/img/twitter.png">
     </span>
        </ion-col>
    </ion-row>

    <!--go to registration-->
    <ion-row>
        <ion-col col-12>
            <a (click)="navLogin()">
                <p text-center>{{"ALREADY REGISTERED !" | translate}}</p>
            </a>
        </ion-col>
    </ion-row>
</ion-content>
