<ion-header>
    <!--<ion-navbar>
        <ion-title>{{'Contact' | translate}}</ion-title>
    </ion-navbar>-->
    <custom-header [header]="header_data"></custom-header>
</ion-header>

<ion-content class="contact">
    <p class="contact-head">{{'Contact Us' | translate}}</p>
    <form (ngSubmit)="onSubmit()" [formGroup]="user" *ngIf="user">
        <ion-row>
            <ion-col col-12>
                <ion-item>
                    <ion-label>{{'Objet:' | translate}}</ion-label>
                    <ion-select formControlName="id_contact" placeholder="Choisissez un objet">
                        <ion-option *ngFor="let contact of contacts" value="{{contact.id_contact}}">{{contact.name}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
    </form>
    <!--Permet d'utiliser ngModel car impossible de l'utiliser au sein d'une balise form-->
    <ion-row *ngIf="orders && orders.length > 0">
        <ion-col col-12>
            <ion-item>
                <ion-label>{{'Référence de commande:' | translate}}</ion-label>
                <ion-select [(ngModel)]="order" (ionChange)="select()"> 
                    <ion-option value="null">{{'No order' | translate}}</ion-option>                           
                    <ion-option *ngFor="let order of orders" value="{{order.id_order}}">{{order.reference}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>
    </ion-row>
    <form (ngSubmit)="onSubmit()" [formGroup]="user" *ngIf="user">
        <ion-row  *ngIf="products && products.length > 0 && order">
            <ion-col col-12>
                <ion-item>
                    <ion-label>{{'Products' | translate}}</ion-label>
                    <ion-select formControlName="id_product" id="id_product" multiple="false">
                        <ion-option value="null">{{'No product' | translate}}</ion-option> 
                        <ion-option *ngFor="let product of products" value="{{product.id_product}}">{{product.product_name}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-item>
                    <ion-label>{{'Email:' | translate}}</ion-label>
                    <ion-input type="email" name="email" id="email"
                               formControlName="email" required ></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-item>
                    <ion-label>{{'Message:' | translate}}</ion-label>
                    <ion-textarea rows="6" lineHeight="42" name="message" id="message"
                                  formControlName="message" required></ion-textarea>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <button class="submit-btn" ion-button type='submit' [disabled]="!user.valid"> {{'Send' | translate}}</button>
            </ion-col>
        </ion-row>
    </form>        
</ion-content>
