<ion-header>
    <custom-header [header]="header_data"></custom-header>
</ion-header>

<ion-content>
    <ion-row>
        <ion-slides class="full-slide" *ngIf="productsInPromo && productsInPromo.length > 0" initialSlide=0 spedd=1000 loop=true autoplay=3000>
            <ion-slide *ngFor="let product of productsInPromo">
                <div class="overlay">
                    <img class="slider-img" src="{{product.image}}">
                    <div class="offer-label">
                        <span class="square text-center light assertive-bg ng-binding">{{product.percent_off | number:'.0-0'}}% OFF</span>
                        <i class="triangle"></i>
                    </div>
                    <ion-row class="card-title">
                        <ion-col col-2>
                            <ion-icon name="arrow-dropleft" (click)="gotoPrevSlide()"></ion-icon>
                        </ion-col>
                        <ion-col col-8>
                            {{product.name}}
                        </ion-col>
                        <ion-col col-2>
                            <ion-icon name="arrow-dropright" (click)="gotoNextSlide()"></ion-icon>
                        </ion-col>
                    </ion-row>
                </div>
                
                <!--<p class="price"><b>{{'Original Price :' | translate}} </b> <span class="total line"> ${{product.prices.normal_price}}</span></p>
                <p class="price"><b>{{'Offer Price :'|translate}} </b><span class="total"> ${{product.prices.specific_price}}</span></p>-->
                <p class="price"><b>{{'Original Price :' | translate}} </b> <span class="total line">{{product.prices.normal_price | currencyPipe:constService.currency}}</span></p>
                <p class="price"><b>{{'Offer Price :'|translate}} </b><span class="total">{{product.prices.specific_price | currencyPipe:constService.currency}}</span></p>
                <p class="desc"><b>{{'Product Description :'|translate}} </b><span [innerHTML]="product.description_short"></span></p>
            </ion-slide>
        </ion-slides>
    </ion-row>
</ion-content>

<ion-footer>
    <a (click)="buyNow()" ion-button icon-left full class="btn-add-to-cart">
        <ion-icon name="cart">
        </ion-icon>
        {{'Buy Now'|translate}}
    </a>
</ion-footer>

