<ion-header>
    <ion-navbar hideBackButton="true">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"BizzToFly" | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="royal" (click)="navcart()" class="header-btn-cart">
                <ion-icon name="cart"></ion-icon>
                <ion-badge class="carts" item-right color="danger">{{noOfItems}}</ion-badge>
            </button>
        </ion-buttons>
        
    </ion-navbar>
    <ion-searchbar
        [(ngModel)]="searchInput"
        [showCancelButton]="true"
        (ionInput)="onSearch($event)"
        (ionCancel)="offSearch($event)"
        (ionFocus)="onFocus($event)"
        animated="true"
        autocomplete="on"
        placeholder="{{searchPlaceholder}}">
    </ion-searchbar>
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
    
    <ion-list *ngIf="displayLastSearch" class="search-results">
        <ion-item *ngFor="let search of lastSearch" (click)="completeUserInput(search)">
            {{search}}
        </ion-item>
    </ion-list>
    <ion-list *ngIf="searchResults" class="search-results">
        <ion-item *ngFor="let searchResult of searchResults" (click)="goToProductPage(searchResult.id, null, searchResult.name)">
            {{searchResult.name}}
        </ion-item>
    </ion-list>
    <ion-item *ngIf="noResultFound" class="search-results">
        {{'No result found' | translate}}
    </ion-item>
</ion-header>

<ion-content>
    <ion-grid class="grid">
        <ion-row>
         <ion-slides *ngIf="slideProducts && slideProducts.length" speed="300" loop="true" autoplay="3000" pager="true" (ionSlideTap)="goToProductPage(currentProduct.id_product, currentProduct)" (ionSlideNextStart)="onChange(true)" (ionSlidePrevStart)="onChange(false)">
                <ion-slide *ngFor="let product of slideProducts" activeSlide="true">
                        <div class="overlay">
                            <img src={{product.image}} class="slider-img">
                        </div>
                        <div class="card-title">{{product.name}}</div>
                        <div class="card-description" [innerHTML]="product.description_short"></div>
                        <div class="card-price">{{product.prices.specific_price}} €</div>
                </ion-slide>
            </ion-slides>
        </ion-row>
        
        <h2 text-center>{{'Categories' | translate}}</h2>
        <!--<ion-row class="categories">
            <ion-col col-6 *ngFor="let category of categories" (click)="navigate(category.id_category)">
                <img src={{category.image}}>
                <p class="text-over-img">{{category.name}}</p>
            </ion-col>
        </ion-row>-->

        <ion-row class="categories">
            <ion-col col-6 *ngFor="let product of welcomeProducts" (click)="goToProductPage(product.id_product, product)">
                <img src={{product.image}}>
                <p class="text-over-img">{{product.name}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
