<ion-header>
    <custom-header [header]="header_data"></custom-header>
</ion-header>

<ion-content>
    <ion-grid class="grid">
        <ion-row>
         <ion-slides *ngIf="slideProducts && slideProducts.length" speed="300" loop="true" autoplay="3000" pager="true" (ionSlideTap)="goToProductPage(currentProduct.id_product, currentProduct)" (ionSlideNextStart)="onChange(true)" (ionSlidePrevStart)="onChange(false)">
                <ion-slide *ngFor="let product of slideProducts" activeSlide="true">
                        <div class="card-title">{{product.name}}</div>
                        <div class="card-description" [innerHTML]="product.description_short"></div>
                        <div class="card-price">{{product.prices.specific_price}} €</div>
                        <div class="overlay">
                            <img src={{product.image}} class="slider-img">
                        </div>
                </ion-slide>
            </ion-slides>
        </ion-row>
        
        <h2 text-center>{{'Categories' | translate}}</h2>
        <!--<ion-row class="categories">
            <ion-col col-6 *ngFor="let category of categories" (click)="navigate(category.id_category)">
                <img src={{category.image}}>
                <p class="text-over-img">{{category.name}}</p>
            </ion-col>
        </ion-row>-->

        <ion-row class="categories">
            <ion-col col-6 *ngFor="let product of welcomeProducts" (click)="goToProductPage(product.id_product, product)">
                <img src={{product.image}}>
                <p class="text-over-img">{{product.name}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
