<ion-header>
  <ion-navbar>
    <ion-title>{{'Add address' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="address" padding>
<form (ngSubmit)="onSubmitAddress()" #f="ngForm">
 <ion-list class="form-data">
    <ion-item>
      <ion-input type="text" name="firstname" id="firstname" placeholder="{{'Prénom' | translate}}"
               [(ngModel)]="address.address.firstname" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" name="lastname" id="lastname" placeholder="{{'Nom' | translate}}"
               [(ngModel)]="address.address.lastname" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" name="address1" id="address1" placeholder="{{'Adresse' | translate}}"
               [(ngModel)]="address.address.address1" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" name="address2" id="address2" placeholder="{{'Complément Adresse' | translate}}"
               [(ngModel)]="address.address.address2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" name="postcode" id="postcode" placeholder="{{'Code Postal' | translate}}"
               [(ngModel)]="address.address.postcode" required minlength="5" maxlength="5"></ion-input>
    </ion-item>
    <ion-item >
      <ion-input type="text" name="city" id="city" placeholder="{{'Ville' | translate}}"
           [(ngModel)]="address.address.city" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-input type="text" name="alias" id="alias" placeholder="{{'Intitulé Adresse' | translate}}"
           [(ngModel)]="address.address.alias" required></ion-input>
    </ion-item>
</ion-list>
<ion-row class="buttons">
   <ion-col>
      <button *ngIf="!selectedAddress" ion-button class="btn-lg" type="submit" 
          [disabled]="!f.valid">&nbsp;&nbsp;{{"Add address" | translate}}</button>

      <button *ngIf="selectedAddress" ion-button class="btn-lg" type="submit" 
          [disabled]="!f.valid">&nbsp;&nbsp;{{"Modify Address" | translate}}</button>
   </ion-col>
</ion-row>
</form>
</ion-content>

<!--
<ion-content class="address" padding>
<form (ngSubmit)="onSubmitAddress()" #f="ngForm">
 <ion-list class="form-data">
    <ion-item>
      <ion-input type="text" name="name" id="name" placeholder="{{'Name' | translate}}"
               [(ngModel)]="address.userName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" name="homeNo" id="homeNo" placeholder="{{'House Number' | translate}}"
               [(ngModel)]="address.homeNumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" name="apartmentName" id="apartmentName" 
          placeholder="{{'Apartment' | translate }}"
               [(ngModel)]="address.apartmentName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" name="phone" id="phone" placeholder="{{'Mobile' | translate}}"
               [(ngModel)]="address.contactNumber"></ion-input>
    </ion-item>
    <ion-item>
          <ion-input type="text" name="landmark" id="landmark" placeholder="{{'Landmark' | translate}}"
               [(ngModel)]="address.landmark" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-input type="text" name="city" id="city" placeholder="{{'City' | translate}}"
           [(ngModel)]="address.city" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-input type="text" name="state" id="state" placeholder="{{'State' | translate}}"
           [(ngModel)]="address.state" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input type="number" name="pincode" id="pincode" placeholder="{{'Pincode' | translate}}"
           [(ngModel)]="address.pincode" required></ion-input>
    </ion-item>
</ion-list>
<ion-row class="buttons">
   <ion-col>
      <button ion-button class="btn-lg" type="submit" 
          [disabled]="!f.valid">&nbsp;&nbsp;{{"Add Address" | translate}}</button>
   </ion-col>
</ion-row>
</form>
</ion-content>
-->