<ion-header>
    <!--<ion-navbar>
        <button ion-button menuToggle start>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>BizzToFly</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="royal" class="header-btn-cart" (click)="navcart()">
                <ion-icon name="cart"></ion-icon>
                <ion-badge class="carts" item-right color="danger">{{noOfItems}}</ion-badge>
            </button>
        </ion-buttons>
    </ion-navbar>-->
    <custom-header [header]="header_data"></custom-header>
</ion-header>


<ion-content >
    <ion-row>
        <ion-slides #productImage class="image-slide" *ngIf="productDetails.images && productDetails.images.length" id="productImage"  speed="300" loop="true" autoplay="3000" pager="true" spaceBetween="20">
            <ion-slide *ngFor="let img of productDetails.images" activeSlide="true">
                <div class="overlay-product-image">
                    <img src={{img}} class="main-image">
                </div>
            </ion-slide>
        </ion-slides>
        <ion-icon class="fav" name="heart" *ngIf="like" (click)="removeFromFavourite(productId)"></ion-icon>
        <ion-icon class="fav heart-clicked" name="heart" *ngIf="!like" (click)="addToFavourite(productId)"></ion-icon>
    </ion-row>

    <ion-row>
        <ion-col *ngFor="let img of productDetails.images">
            <img src={{img}} class="small-image" (click)="changerImagePrincipale(img)">
        </ion-col>
    </ion-row>    
    <ion-row>
        <h1>{{productDetails.name}}</h1>
        <div class="desc" [innerHTML]="productDetails.description_short"></div>
        <div class="price-container">
           <span class="price">{{price | currencyPipe:constService.currency}}</span>
        </div>
        <div class="info-container">{{'Selected quantity' | translate}}: {{count}} | {{'Total price' | translate}}: {{totalPrice | currencyPipe:constService.currency}} <!--{{totalPrice | number:'.2-2'}} €--></div>
        <ion-item>
            <ion-label>{{'Combination' | translate}} :</ion-label>            
            <ion-select [(ngModel)]="id_declinaisons" (ionChange)="getCorrespondingCombination()" placeholder="{{'Select a combination' | translate}}">
                <ion-option *ngFor="let dec of productDetails.declinaisons" value={{dec.id}}>{{dec.name}}</ion-option>
            </ion-select>
        </ion-item>

        <p *ngIf="displayNumberOfProductsInStock">{{'In stock' | translate}} :  {{quantity}}</p>            
    </ion-row>
    <button class="comment-button" ion-button (click)="goToCommentsPage()">Voir les avis</button>
    <ion-row>
        <ion-col col-12>
            <ion-label class="similar-products">{{'Similar products'  | translate}}:</ion-label>
        </ion-col>
    </ion-row>

    <ion-row>
         <ion-slides #similarProduct class="slides-similar-product" *ngIf="similarProducts && similarProducts.length > 0" speed="300" loop="true" autoplay="3000" pager="true" spaceBetween="-10" (ionSlideTap)="goToProductPage()" (ionSlideNextStart)="onChange()" (ionSlidePrevStart)="onChange()">
                <ion-slide *ngFor="let simp of similarProducts" activeSlide="true">
                        <div class="overlay-test">
                            <img src={{simp.image}} class="slider-img">
                        </div>
                        <ion-row align-items-center class="vertical-align">
                            <ion-col col12>
                                <ion-row>
                                    <ion-col col-12>
                                        <div class="test">{{simp.name}}</div>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-12>                         
                                        <div *ngIf="simp.nb_comment > 0">
                                            <rating name="rating" id="rating" class="test-rating"
                                            [(ngModel)]="simp.avg_grade" readOnly="true"
                                            max="5"
                                            emptyStarIconName="star-outline"
                                            halfStarIconName="star-half"
                                            starIconName="star"
                                            nullable="false"
                                            ></rating>
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-12>
                                        <div *ngIf="simp.nb_comment == 1 ">{{simp.nb_comment}} {{'people comment out this product' | translate}}</div>
                                        <div *ngIf="simp.nb_comment > 1 ">{{simp.nb_comment}} {{'peoples comment out this product' | translate}}</div>                       
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-12>
                                        <!--<div class="test">{{simp.price}} €</div>-->
                                        <div class="test">{{simp.price | currencyPipe:constService.currency}}</div>
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                        </ion-row>
                </ion-slide>
        </ion-slides>
    </ion-row>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-row class="count-full">
            <ion-col col-4>
                <div class="count">
                <span class="item-count" (click)="remove()">
                  -
                </span>
                   <span class="item-count show-count">
                  {{count}}
                </span>
                    <span class="item-count" (click)="add()">
                  +
                </span>
                </div>
            </ion-col>

            <ion-col col-8>
                <a (click)="addToCart(productId)" ion-button icon-left full class="btn-add-to-cart">
                    <ion-icon name="cart"></ion-icon>
                    {{'ADD TO CART' | translate}}
                </a>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>
