page-product-details {
  h1{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: #ffab23;
  }
  .text-over-image {
    color: $white;
    font-size: 18px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    width: 100%;
    margin: -55px 0px 0px 0px;
  }
  .small-image {
    height: 100%;
    width: 100%;
  }
  .prod-price {
    font-weight: 700;
    color: $primary;
  }
  .item.item-block .item-inner {
    padding-right: 5px;
    border-bottom: 0px;
  }
   .count-full{
    .col{
      padding: 5px 5px 0;
    }
  .count {
    padding: 10px 0px;
    margin: 0px;
    display: flex;
    .item-count {
      padding: 0;
      font-size: 2rem;
      font-weight: 700;
      color: #fff;
      background-color: #fbaa25;
      width: 3rem;
      text-align: center;
    }
    .show-count {
      background-color: $primary !important;
    }

    .item-price {
      font-weight: 700;
      color: $primary;
    }
  }
  }
  .select,
  .label {
    margin: 0px 0px 0px 0;
    color: #000 !important;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .btn-add-to-cart {
    background-color: $primary !important;
    color: $white;
    padding: 22.2px;
    box-shadow: none;
    font-size: 14px;
    margin: 0px;
    border: 0.1rem solid #fff;
  }
  .extra-list {
    margin: 5px 4px 16px 4px;
    border-bottom: 1px solid #dedede;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    .header {
      color: $white;
      background-color: $grey;
      margin: 0;
      border: 0;
    }

    .toggle .toggle-checked {
      background-color: #32cd32;
      width: 45px;
      height: 26px;
    }
    .toggle .toggle-icon {
      width: 45px;
      height: 26px;
    }
    .toggle .toggle-inner {
      position: absolute;
      top: 1px;
      left: 3px;
      width: 22px;
      height: 22px;
      background-color: $white;
    }
  }

  .size-list {
    @extend .extra-list;
    .size-list-header {
      @extend .header;
    }
    .size-list-item {
      .checkbox .checkbox-checked {
        background-color: transparent !important;
        border: none !important;
      }
      .checkbox .checkbox-icon {
        border: none !important;
      }

      .checkbox .checkbox-checked .checkbox-inner {
        width: 10px !important;
        height: 20px !important;
        border-color: #32cd32 !important;
        border-width: 4px !important;
        border-top-width: 0 !important;
        border-left-width: 0 !important;
        border-style: solid !important;
      }

    }
  }
  .checkbox-checked + .size-list-item {
    background-color: $secondary !important;
    color: red
  }
  .desc{
    padding:0 1rem;
  }

  .price-container{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 2.5rem;
    span{
        &.price{
          font-weight: bold;
        } 
    }
  }

  .info-container {
    margin:auto;
    color: $grey;
  }


  .slides-similar-product{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    .overlay {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
      display: inline-flex;
    }
    .slider-img {
      width: 100%;
      height: 200px;
      position: relative;
      z-index: -111;
    }
    .slider-text {
      color: #fff;
      font-size: 22px;
      padding: 5px;
      position: absolute;
      bottom: 0;
      margin: 5px 0px;
    }
    .swiper-pagination-bullet {
      background: $primary !important;
    }
  }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 0.9em;
      white-space:pre-wrap;
      width: 100%;
      font-weight: bold;
      color: #fff;
      }

    /*.card-description {  
        position: absolute;
        top: 40%;
        left: 2%;
        right: 2%;
        font-size: 0.8em;
        white-space: pre-wrap;
        color: #fff;
        flex-wrap: wrap;
    }*/

    .card-rating {
      position: absolute;
      top: 50%;
      left: 40%;
      ul {
        padding: 5px 0px;
        text-align: center;
     
        &.rating li {
          padding: 0px !important;
          background: none;
          color: #ffb400;
       
          ion-icon {
            height: 20px;
            width: 15px;
          }
        }
      }
    }

    .card-info-comment {
      position: absolute;
      top: 75%;
      left: 10%;
      text-align: center;
      font-style: italic;
      color: #fff;
      font-size: 0.8em;
    }

    .card-price {
      position: absolute;
      top: 50%;
      font-size: 0.9em;
      white-space:pre-wrap;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .comment-button{
      background-color: $primary;
    }

  .main-image{
    display: inline-flex;
  }

    .fav{
      color: $danger;
      font-size: 40px;
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      z-index: 1;
    }
    .heart-clicked{
      color:$primary;
      z-index: 1;
    }

  .similar-products{
    text-align: center;
    font-size: 20px !important;
    color: $primary !important;
    font-weight: bold !important;
  }

  .test{
    color: #ffffff;
    text-align: center;
  }

  .vertical-align{
    color: #ffffff;
    position: relative;
    bottom: 20px;
  }

  .test-rating{
      ul {
        padding: 5px 0px;
        text-align: center;
     
        &.rating li {
         padding: 0px !important;
          background: none;
          color: $primary;
        }
      }
  }

  .overlay-test{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));

    max-height: 220px;
    max-width: 200px;
    display: inline-flex;
  }

  .overlay-product-image{
    text-align: center;
    width:100vw;
  }
}
