<ion-header>
  <custom-header [header]="header_data"></custom-header>
</ion-header>

<ion-content>
  <div *ngIf="!isOrder()">
        <ion-row>
            <ion-icon class="empty-cart" name="cart"></ion-icon>
        </ion-row>
        <h4>{{"No Orders" | translate}}</h4>
    </div>
    <div *ngIf="isOrder()">
  <ion-list class="orders-list">
    <ion-card class="orders-item">
      <ion-row *ngFor="let order of orders">
        <ion-col col-9>
          <p class="item-name"><strong>{{"Order Id:" | translate}} {{order.order.id}}</strong></p>
          <p class="item-price">{{"Grandtotal:" | translate}}  {{order.order.total_paid_tax_incl | number:'.2-2'}} €</p>
          <!--Sur IOS le format de la date est invalide-->
          <!--<p class="date">{{"Date:" | translate}} {{order.order.date_add | date}}</p>-->
          <p *ngIf="platform.is('ios')" class="date">{{'Date:' | translate}} {{order.order.date_add}}</p>
          <p *ngIf="!platform.is('ios')" class="date">{{'Date' | translate}} {{order.order.date_add | date}}</p>
        </ion-col>
        <ion-col col-3>
          <button class="btn-view" ion-button color="primary" (click)="orderDetails(order)">
            {{"View" | translate}}
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>
</div>

  <ion-infinite-scroll (ionInfinite)="infinite($event)" threshold="5%" *ngIf="maxItem > orders.length">
      <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
      </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
