<ion-header>

<!--  <ion-navbar>
    <ion-title>recap</ion-title>
  </ion-navbar>-->
  <custom-header [header]="header_data"></custom-header>
  <custom-order-header [headerDATA]="order_header_data"></custom-order-header>
</ion-header>


<ion-content padding>
<ion-list *ngFor="let item of orderData.cart">
	<ion-item *ngFor="let product of item.declinaison">
		<ion-row>
			<ion-col col-3>
                <img src="{{product.imageUrl}}" alt="{{product.name}}">
			</ion-col>
			<ion-col col-9>
				<p class="product">{{item.name}} : {{product.name}}</p>
				<p>{{'Quantity' | translate}} : {{product.selectedQuantity}}</p>
				<!--<p>{{'Price' | translate}} : {{product.endPrice | number:'.2-2'}} €</p>
				<p>{{'Total' | translate}} : {{totalProductPrice(product.endPrice, product.selectedQuantity) | number:'.2-2'}} €<p>-->
				<p>{{'Price' | translate}} : {{product.endPrice | currencyPipe:constService.currency}}</p>
				<p>{{'Total' | translate}} : {{totalProductPrice(product.endPrice, product.selectedQuantity) | currencyPipe:constService.currency}}<p>
			</ion-col>
		</ion-row>
	</ion-item>
</ion-list>
<ion-item>
	<!--<p>{{'Products total incl_tax' | translate}} : {{totalPrice | number:'.2-2'}} €</p>
	<p>{{'Total shipping cost (incl_tax)' | translate}} : {{carrierData.total_price_with_tax | number:'.2-2'}} €</p>
	<p>{{'Total incl_tax' | translate}}: {{totalPriceWithCarrier | number:'.2-2'}} €</p>-->
	<p>{{'Products total incl_tax' | translate}} : {{totalPrice | currencyPipe:constService.currency}}</p>
	<p>{{'Total shipping cost (incl_tax)' | translate}} : {{carrierData.total_price_with_tax | currencyPipe:constService.currency}}</p>
	<p>{{'Total incl_tax' | translate}}: {{totalPriceWithCarrier | currencyPipe:constService.currency}}</p>
	<br>
	<ion-row>
		<ion-col col-9>
			<p class="product">{{'Selected carrier' | translate}} : {{objectToArray(carrierData.carrier_list)[0].instance.name}}</p>
		</ion-col>
		<ion-col col-3>
			<img src="{{carrierData.image}}" alt="Transporteur">
		</ion-col>
	</ion-row>
	<p>{{'Shipping address' | translate}} : {{orderData.shippingAddress.address.city}} {{orderData.shippingAddress.address.address1}}</p>
</ion-item>
	<button ion-button block class="continue-btn"  (click)="goToPayment()"> {{'Continue' | translate}} &nbsp;
      <ion-icon name="arrow-forward"></ion-icon>
    </button> 
</ion-content>
