<ion-header>
    <custom-header [header]="header_data"></custom-header>
</ion-header>
<ion-content>
    <div class="order-full" *ngFor="let product of orderDetails.order.associations.order_rows">
        <ion-row>
            <ion-col col-4>
               <!-- <img class="product-image" src="{{getImage(product.product_id)}}" alt="{{product.product_name}}">-->
               <img class="product-image" src="{{getImage(product.product_id, product.product_attribute_id)}}" alt="{{product.product_name}}">
            </ion-col>
            <ion-col col-8>
                <div class="prod-detail">
                  <h5>{{product.product_name}}</h5>
              </div>
              <!--<p>{{"Price:" | translate}} <span>{{getPrice(product.product_id) | number:'.2-2'}} €</span></p>-->
              <p>{{"Price:" | translate}} <span>{{getPrice(product.product_id) | currencyPipe:constService.currency}}</span></p>
              <p>{{"Quantity:" | translate}} {{product.product_quantity}}</p>        
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-12>
            <button ion-button icon-left full class="btn-add-to-cart" (click)="buyAgain(product.product_id)">
            <ion-icon name="cart"></ion-icon>
            {{"BUY AGAIN" | translate}}
        </button>
    </ion-col>
</ion-row>
</div>
<div class="details">
    <h4>{{"Order Details" | translate}}</h4>

    <p class="order-desc">{{'Total shipping cost' | translate}} <span class="data">{{orderDetails.order.total_shipping | currencyPipe:constService.currency}}</span></p>
    <!--<p class="order-desc">{{"Order Id:" | translate}} <span class="data">{{orderDetails.order.id}}</span></p>-->
    <p class="order-desc">{{"Order reference" | translate}}: <span class="data">{{orderDetails.order.reference}}</span></p>

    <!--Format de la date n'est pas compatible avec IOS-->
    <p *ngIf="platform.is('ios')" class="order-desc">{{'Order date:' | translate}} <span class="data">{{orderDetails.order.date_add}}</span></p>
    <p *ngIf="!platform.is('ios')" class="order-desc">{{"Order date:" | translate}} <span class="data">{{orderDetails.order.date_add | date}}</span></p>

    <p class="order-desc">{{"Amount Paid:" | translate}}
        <ion-icon class="check" name="checkmark"></ion-icon> &nbsp;<span
        class="amount">{{orderDetails.order.total_paid | currencyPipe:constService.currency}}</span></p>
        <p>{{"Paid through" | translate}}: <span class="pay">{{orderDetails.order.payment}}</span></p>        
    </div>
    <ion-row>
      <ion-col col-6>
        <button ion-button class="btn-order" (click)="orderAgain()">{{'Order again' | translate}}</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button class="btn-order" (click)="checkOrderStatus()">{{'See order status' | translate}}</button>
      </ion-col>
    </ion-row>
   <!-- <ion-row>

      <button ion-button full class="track-btn"
      (click)="trackOrder()"> {{"Track Order" | translate }}
  </button>
    </ion-row>-->
</ion-content>